/* Style for boxShadow */
.boxShadow {
  // box-shadow: 0px 20px 27px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
}

/* Style for Margin */
.margin-font {
  margin: 0px !important;
  font-size: 30px !important;
  font-weight: 700 !important;
}

/* Style for font */
.fontDesign {
  font-size: 14px;
  font-weight: 700;
}

/* Style for CardFullHeight */
.CardFullHeight {
  height: 100%;
  // box-shadow: 0px 20px 27px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
}

/* Style for IconBox */
.IconBox {
  width: 48px;
  height: 48px;
  text-align: center;
  background: #1890ff;
  color: #fff;
  border-radius: 0.5rem;
  margin-left: auto;
  line-height: 55px;
}
/* Style for CommonChartSize */
.CommonChartSize {
  width: 100%;
  height: 100%;
}

/* Style for ChartHeight */
.ChartHeight {
  position: relative;
  width: 100%;
  height: 350px;
}

// card gradient
.TotalOrders {
  background: linear-gradient(96deg, rgba(255, 255, 255, 0) 0.42%, rgba(7, 63, 219, 0.1) 98.35%);
}

.PendingOrders {
  background: linear-gradient(96deg, rgba(255, 255, 255, 0) 0.42%, rgba(248, 149, 31, 0.1) 98.35%);
}

.Cleared {
  background: linear-gradient(96deg, rgba(255, 255, 255, 0) 0.68%, rgba(0, 180, 83, 0.18) 99.76%);
}

.PartiallyCleared {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(248, 149, 31, 0.1) 100%);
}

.Close {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(205, 43, 43, 0.1) 100%);
}

.InlineIcon {
  display: flex;
  align-items: center;
}
