//Margin Classes
.m-0 {
  margin: 0px !important;
}
//Margin Top
.mt-8 {
  margin-top: 8px !important;
}
.mt-10 {
  margin-top: 10px !important;
}
.mt-12 {
  margin-top: 12px !important;
}
.mt-13 {
  margin-top: 13px !important;
}
.mt-16 {
  margin-top: 16px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mt-24 {
  margin-top: 24px !important;
}
.mt-26 {
  margin-top: 26px !important;
}
.mt-30 {
  margin-top: 30px !important;
}
.mt-32 {
  margin-top: 32px !important;
}
.mt-40 {
  margin-top: 40px !important;
}
.mt-60 {
  margin-top: 60px;
}

//Margin Bottom
.mb-16 {
  margin-bottom: 16px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}

.mb-24 {
  margin-bottom: 24px !important;
}

//Margin Left
.ml-4 {
  margin-left: 4px !important;
}
.ml-8 {
  margin-left: 8px !important;
}

//Margin Right
.mr-4 {
  margin-right: 10px !important;
}

//Padding Classes
.p-0 {
  padding: 0px !important;
}
.p-10 {
  padding: 10px !important;
}
.p-16 {
  padding: 16px !important;
}
//Padding Top
.pt-2 {
  padding-top: 2px !important;
}
.pt-12 {
  padding-top: 12px !important;
}
.pt-16 {
  padding-top: 16px !important;
}
.pt-24 {
  padding-top: 24px !important;
}
.pb-12 {
  padding-bottom: 12px !important;
}
.pb-16 {
  padding-bottom: 16px !important;
}
.pb-24 {
  padding-bottom: 24px !important;
}

//Font-size
.fs-16 {
  font-size: 16px !important;
}

.fs-18 {
  font-size: 18px !important;
}

//Font-weight

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

//Color Customisation
.blueText {
  color: #1755a6 !important;
}

//Positions

.position-absolute {
  position: absolute;
}
